<div class="container mt-5">
  <h1 class="mb-4 text-5xl font-bold"><%= action_name.capitalize %> Patient</h1>

  <%= form_with(model: @patient, local: true, html: { class: 'needs-validation' }) do |form| %>
    <% if @patient.errors.any? %>
      <div class="alert alert-danger">
        <h4 class="alert-heading">Errors:</h4>
        <ul class="mb-0">
          <% @patient.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :first_name, class: 'form-label' %>
      <%= form.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :last_name, class: 'form-label' %>
      <%= form.text_field :last_name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :phone_number, class: 'form-label' %>
      <%= form.text_field :phone_number, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :email, class: 'form-label' %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :disease, class: 'form-label' %>
      <%= form.text_field :disease, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :age, class: 'form-label' %>
      <%= form.number_field :age, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to 'Back', patients_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
