<div class="p-5">
    <center>
        <h1 class="text-blue-700 font-bold text-5xl">Appointments</h1>
        <ol>
            <%@appointments.each do |appointment|%>
                <li>
                    <h6>Doctor: <%=appointment.doctor_id%></h6>
                    <h6>Patient: <%=appointment.patient_id%></h6>
                    <%=appointment.created_at.strftime("%d-%h-%y %H:%M:%S")%>
                    <br>
                    <%=link_to "Show", appointment, class:"btn btn-primary"%>
                    <%=link_to "Delete", appointment, class:"btn btn-danger"%>
                    <br>
                    <br>
                </br>
            <%end%>
        </ol> 
        <%=link_to "Add an appointment", new_appointment_path, class:"btn btn-primary"%>
    </center>
</div>