<center>
    <h1 class="text-blue-700 font-bold">Doctor</h1>
    <p>Name: <%=@doctor.first_name%> <%=@doctor.last_name%></p>
    <p>Degree: <%=@doctor.degree%></p>
    <p>Contact: <%=@doctor.email%></p>
    <h1 class="text-blue-700 font-bold">Patient</h1>
    <p>Name: <%=@patient.first_name%> <%=@patient.last_name%></p>
    <p>Problem: <%=@patient.disease%></p>
    <p>Contact: <%=@patient.email%></p>
    <p><span class="font-bold">Time: <%=@appointment.appointment_at.strftime("%d-%h-%y %H:%M:%S")%></span></p>
    <div class="flex items-center justify-center gap-10">
        <%= button_to "Send Email to Doctor", send_email_to_doctor_appointment_path(@appointment), method: :post, class: 'btn btn-primary' %>
  <%= button_to "Send Email to Patient", send_email_to_patient_appointment_path(@appointment), method: :post, class: 'btn btn-primary' %>
 
        <%=link_to "Back", appointments_path, class:"btn btn-secondary"%>
    <%= form_with(model: @appointment, method: :delete, local: true) do %>
  <%= submit_tag 'Delete', class: 'btn btn-danger' %>
<% end %>
    </div>
</center>